/* about */
.about-content {
    text-align: center;
    padding-top: 65px;
  }
  .about-header p,
  .about-contact p {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  .about-contact a {
    text-decoration: none;
    font-size: 20px;
    color: #6666ff;
  }
  .about-contact div {
    padding-top: 15px;
  }