.btn-goBacktoQuizPage {
  text-decoration: none;
  background-color: #87ceeb;
  color: black;
  font-size: 1.25rem;
  border-radius: 10px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 275px;
  width: 250px;
  padding-bottom: 5px;
}
.result-container {
  margin: 20px;
  box-shadow: 4px 4px 8px 4px rgb(0 0 0 / 10%);
  padding: 40px;
  border-radius: 25px;
}
